// CSS Font Smoothing
body
  padding: 0
  margin: 0

#ag-infographic
  position: relative
  will-change: opacity
  opacity: 0
  &.ag-inview
    opacity: 1 !important
    transition: opacity 0.5s ease-in-out

  ol li 
    counter-increment: muffins

  ol li:before 
    content: counter(muffins) ". "

  ol 
    list-style: none
    counter-reset: muffins

  sup, sub
    vertical-align: baseline
    position: relative
    top: -0.4em

  sub
    top: 0.4em

  
@media (min-resolution: 2ddpx)
  svg
    shape-rendering: optimizeSpeed


.ag-mobile
  display: block
  @include sm
    display: none

.ag-desktop
  display: none
  @include sm
    display: block


.o-footer
  margin-top: 0 !important
  // display: none

.active
  background: #aaa !important
  color: #fff !important
  cursor: unset !important