$max-width: 768px
$max-width-graph: 1024px

// $font-title: Financier, serif
$font-title: Playfair, serif
$font-copy: Jpm, sans-serif

$black: #000
$white: #fff

$color-primary: #111114
$color-secondary: #e3731a
$color-tertiary: #6D3869

$speed: 1s

$marginH: 30px
$marginV: 40px


$paddingH: 30px
$paddingV: 40px

$shadowPadding: 40px
$shadowWidth: 20px