$max-width: 626px
$max-width-graph: 1024px

$font-copy: LexiconA
$font-title: LexiconD

$black: #000
$white: #fff

$color-primary: #2E2E2E
$color-secondary: #017373
$color-tertiary: #EFEFEF

$speed: 1s

$marginH: 30px
$marginV: 40px


$paddingH: 20px
$paddingV: 40px

$shadowPadding: 40px
$shadowWidth: 20px