.hero
  position: relative
  width: 100%
  z-index: 8
  background: #F8F8F4

  .media
    position: relative
    width: 100% 
    height: calc(100lvh - 120px)
    // height: auto
    overflow: hidden
    @include lg
      height: 100%
      height: calc(100vh - 96px)
      min-height: calc(100vh - 96px)

    figure
      top: -57px
      position: relative
      margin: 0
      padding: 0  
      display: block
      width: 100%
      height: 100%
      min-height: calc(100vh - 40px)
      img
        position: relative
        display: block
        object-fit: cover
        // background-position: 100% 50%
        object-position: 100% 50%
        width: 100%
        height: 100%
        transform: scale(1.1)

    .gradient
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background: rgb(0,0,0, 0.1)
      background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.35) 100%)
      @include lg
        background: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%)


  .content
    color: white
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    display: flex
    justify-content: flex-end
    align-items: flex-start
    flex-direction: column
    padding: 16px 16px
    @include lg
      padding: 65px 150px


    .mask
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)  

      .h1
        position: relative
        font-family: $font-copy !important
        font-size: 50px
        line-height: 60px
        width: 100%
        max-width: 530px
        margin-bottom: 15px
        font-weight: 400
        z-index: 1
        @include lg
          font-size: 100px
          line-height: 120px
          max-width: 800px
          margin-bottom: 30px
          // text-shadow: 0 0 50px #F8F8F4, 0 0 50px #F8F8F4, 0 0 50px #F8F8F4, 0 0 50px #F8F8F4, 0 0 50px #F8F8F4

      .desc
        position: relative
        color: #E4C0AA
        font-size: 18px
        line-height: 27px
        @include lg
          font-size: 20px
          line-height: 27px

      .text
        color: #E7DDE5
        position: relative
        max-width: 582px
        margin-bottom: 20px
        font-family: $font-title
        font-size: 18px
        line-height: 24px
        z-index: 1

        @include lg
          font-size: 20px
          line-height: 27px
          margin-bottom: unset

    svg
      position: relative
      align-self: flex-end
      transform-origin: 50% 50%
        
  