.text
  @include paddings
  @include marginbottom
  p
    font-weight: 400
    line-height: 1.75
    font-size: 17px
    position: relative
    @include sm
      font-size: 20px
    max-width: $max-width
    width: 100%
    margin-left: auto
    margin-right: auto
    sup
      cursor: pointer
      @include animate((color), 0.2*$speed, ease-out)
      &:hover
        color: $color-secondary
    span
      color: $color-secondary
      font-weight: bold !important
      font-family: $font-copy !important
      span
        position: relative
        top: -3px
        float: left
        padding-right: 10px
        color: $color-primary
        font-family: $font-title !important
        line-height: 1
        font-size: 54px
        @include sm
          font-size: 70px
          



