.text
  @include paddings
  @include marginbottom
  p
    position: relative
    font-size: 18px
    line-height: 30px
    @include sm
      font-size: 20px
      line-height: 35px
      display: block
    max-width: $max-width
    width: 100%
    margin-left: auto
    margin-right: auto
    b
      font-family: $font-title !important

    span
      width: 50%
      display: inline-block
      @include sm
        width: auto
        display: inline

    br
      @include sm
        display: none
        height:0px



.text[data-id="1-11"]:before
  @include mobile
    content: ""
    display: inline-block
    width:45%
    height:200px
    float: right

.text[data-id="2-6"]:before
  @include mobile
    content: ""
    display: inline-block
    width:40%
    height:260px
    float: right
          

// .text[data-id="3-4"]:before
//   @include mobile
//     content: ""
//     display: inline-block
//     width:50%
//     height:260px
//     float: right

